<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>
  <p>
    <strong>Matriculation:</strong>
    <%= customer.matriculation %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= customer.status %>
  </p>
</div>
