<div id="<%= dom_id sale %>">
  <p>
    <strong>Cart:</strong>
    <%= sale.cart %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= sale.total_price %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= sale.customer_id %>
  </p>

</div>
